Found:: <%= @groups.count %> <br />

<table class="table table-striped table-hover">
  <% @groups.each_with_index do |group, index| %>
    <thead>
      <th colspan=2>
          <h3>
            <%= link_to "Group ##{group.id}", airbrake_group_url(id: group.id) %> - <%= link_to 'View Notices', airbrake_notices_url(group_id: group.id) %> 
          </h3>
      </th>

    </thead>

    <tbody>
      <% group.attributes.each do |attribute| %>
        <tr>
          <td><%= attribute %></td>
          <td><%= group.send(attribute).inspect %></td>
        </tr>
      <% end %>

      <tr>
        <td>Actions</td>
        <td>
          <% if !has_error(group) %>
            <%= button_to 'Create Error', errors_url(group_id: group.id), method: :post, class: 'btn btn-success' %>
          <% end %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>
